@import '../../styles/variables';

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #323232;
  color: $text-light;
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 4000;
  opacity: 0;
  transform: translateX(100%);
  transition: all 200ms ease-out;
  display: flex;
  align-items: center;
  box-shadow: $shadow-default;
  font-size: 14px;
  
  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}
